@import "@picocss/pico";
@import "grid.min.css";

/* Custom Styling */
aside.sidebar,
main.content{
    padding: .8rem 1.5rem;
}

aside.sidebar{
    nav{
        li{
            a{
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}

main.content{
    header{
        display: flex;
        justify-content: flex-end;
    }
}

.pico-modal{
    footer{
        display: flex;
        justify-content: flex-end;
        gap: .5rem;

        [type=submit]{
            width: auto !important;
            margin-bottom: 0;
        }
    }
}
