@use "node_modules/@picocss/pico/scss/pico" with (
    $theme-color: "amber",
    $css-var-prefix: "--kodesmeden-"
);

@import "grid.scss";

:root{
    --kodesmeden-info: #17a2b8;
    --kodesmeden-success: #28a745;
    --kodesmeden-success-dark: #0a3313;
    --kodesmeden-warning: #ffc107;
    --kodesmeden-error: #dc3545;
}

@import "sidebar.scss";

.pico-modal{
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        h3{
            margin-bottom: 0;
        }

        button{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

#create-application{
    .show-if-git{
        display: none;
    }
}

.alert{
    margin: 2rem 0;
    border: 1px solid;

    &.alert-info{
        border-color: var(--kodesmeden-info);
        color: white;
    }

    &.alert-success{
        border-color: var(--kodesmeden-success);
        color: white;
    }

    &.alert-warning{
        border-color: var(--kodesmeden-warning);
        color: black;
    }

    &.alert-error{
        border-color: var(--kodesmeden-error);
        color: white;
    }

    &.alert-dark{
        border-color: var(--kodesmeden-success-dark);
        color: white;
    }

    &.alert-light{
        border-color: white;
        color: black;
    }

    &.alert-primary{
        border-color: var(--kodesmeden-info);
        color: white;
    }

    &.alert-secondary{
        border-color: var(--kodesmeden-success);
        color: white;
    }
}